<div class="post-info container">
  <div class="post-username col-md-12 col-xs-12">
    <%= post.get('username') %>
  </div>
  <div class="post-caption col-md-12 col-xs-12">
    <%= post.get('caption') %>
  </div>
  <div class="post-insta-link col-md-12 col-xs-12">
    <a href="<%= post.get('link') %>">Instagram Link</a>
  </div>
</div>
