<div class="post-info">
  <div class="post-username">
    <%= post.get('username') %>
  </div>
  <div class="post-caption">
    <%= post.get('caption') %>
  </div>
  <div class="post-insta-link">
    <a href="<%= post.get('link') %>">Instagram Link</a>
  </div>
  <div class="post-created-time">
    Posted at: <%= post.get('created_time') %>
  </div>
</div>
